function {{ func_name }}()
{
  Block.prototype.init.call(this);
  this.type='{{ func_name }}';
  {% for property in properties %}
    {% if property.getAttribute('access') != 'readonly' %}
      this.addAction( new Action('{{ property.getAttribute('name') }}'));
    {% endif %}
    {% if property.getAttribute('access') != 'writeonly' %}
      this.addSignal( new Signal('{{ property.getAttribute('name') }}'));
    {% endif %}
  {% endfor %}
}


{{ func_name }}.prototype = new Block();
{{ func_name }}.prototype.constructor = {{ func_name }};
Block.register('{{ func_name }}', {{ func_name }});
