*.class
*.pyc
history.xml
temp.c
darjeeling.elf
darjeeling.ihex
darjeeling.a
darjeeling-avr.map
build
infusions
programflash.data
.tags
.tags_sorted_by_file
darjeeling.sublime-project
darjeeling.sublime-workspace
