*.class
*.pyc
*~
*.swp
*.swo
__comp__*
a.out
GENERATED*
history.xml
temp_di_app_infusion_archive.c
temp_di_lib_infusions_archive.c
darjeeling.elf
darjeeling.ihex
darjeeling_eeprom.ihex
darjeeling.a
darjeeling-avr.map
build
app_infusion.dja
lib_infusions.dja
programflash.data
.tags
.tags_sorted_by_file
darjeeling.sublime-project
darjeeling.sublime-workspace
WKDeploy.java
WKDeploy.xml
wukong/apps
master.cfg
src/config/native/config.txt
src/settings.xml
stk500boot.eep
stk500boot.elf
stk500boot.lss
stk500boot.lst
stk500boot.map
stk500boot.o
stk500boot.sym
stk500boot_v2_mega2560.hex
stk500boot.o.d
darjeeling_flash_page.o
darjeeling_flash_page.hex
wkdeploy.dja
standardlibrary.db
fbp.html
