<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
        <link type="text/css" href="/static/css/jquery.contextMenu.css" rel="stylesheet" />
        <link type="text/css" href="/static/css/application.css" rel="stylesheet" />
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/static/css/jquery.treeview.css" rel="stylesheet"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>

        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-disabler-1.0.0.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.contextMenu.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/json2.js"></script>
        <script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.treeview.js"></script>
        <script type="text/javascript" src="/static/js/display_locationTree.js"></script>
        <script type="text/javascript" src="/static/js/application.js"></script>        
    </head>
    <body>
	    <!--textarea cols=5 rows=5 id="debug"></textarea-->
        <div class="navbar">
          <div class="navbar-inner">
              <a class="brand" href="/"><small><img src="/static/images/wukong_logo.jpg" width=25 height=20 /></small> Wukong </a>
            <ul class="nav">
                <li><a id="node-editor" href="#">Node Editor</a></li>
                <li class=""><a id="locationTree" href="#">Landmark Editor</a></li>
                <li class="active"><a id="application" href="#">Applications</a></li>
                <li class=""><a id="designer" href="#">WuClass Designer</a></li>
            </ul>
          </div>
        </div>
        {% if not connected %}
        <div class="alert">
          <h4>It appears that you have not connected to a zwave gateway</h4>
          <p>Please connect a zwave gateway to the master and restart.</p>
        </div>
        {% end %}
        <table width="100%" border=0 height="100%">
            <tbody>
                <tr valign=top>
                    <!--<td id=menu class=menu width=60>-->
                        <!--<button id=appadd class="appadd"></button>-->
                        <!--<button id=zwave class=zwave></button>-->
                    <!--</td>-->
                    <td id="content" class="content"></td>
				</tr>
            </tbody>
        </table>
       
    </body>
</html>
