<!doctype html>
<script type="text/javascript" src="/static/js/testrtt.js"></script>
<script type="text/javascript" src="/static/js/display_locationTree.js"></script>
<div id="displayTreeContent">
</div>
<div class="modal ui-widget-content" id="dispTreeNodeInfo" role="dialog" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Location Information</h3>
    </div>
    <div id="dispTreeNodeInfoBody">
    </div>
    <div id="dispTreeNodeInfoFooter" class="modal-footer">
        <button class="dialogCloseButton" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<div class="modal ui-widget-content" id="modifier_dialog"  role="dialog" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Choose start and end node</h3>
    </div>
    <div class="modal-body">
      Start Treenode ID<input id = "distmod_start_id" type=text size="20" disabled/>
      <button class="chooseLocNode" for="distmod_start_id">Choose Tree Node</button>
      <br>
      End Treenode ID<input id = "distmod_end_id" type=text size="20" disabled/>
      <button class="chooseLocNode" for="distmod_end_id">Choose Tree Node</button>
      <br>
      Distance<input id = "distmod_distance" type=text size="20"><br>
    </div>
    <div class="modal-footer">
        <button id="addModifier" class="dialogCloseButton" data-dismiss="modal" >Add</button>
        <button id="delModifier" class="dialogCloseButton" data-dismiss="modal" >Delete</button>
        <button class="dialogCloseButton" data-dismiss="modal">Close</button>
    </div>
</div>

<div class="modal ui-widget-content" id="tree_dialog" role="dialog" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Choose a node</h3>
    </div>
    <div class="modal-body">
      <div id="treeInDialogDiv">
        <ul id="treeInDialog" class="treeview">
        </ul>
      </div>
      Selected TreeNode: <input id = "selectedTreeNode" type=text size="20"/>
    </div>
    <div class="modal-footer">
        <button id="confirm_tree_dialog" data-dismiss="modal" class="dialogCloseButton">Select</button>
        <button data-dismiss="modal" class="dialogCloseButton">Close</button>
    </div>
</div>

<div class="modal ui-widget-content" id="landmark_dialog" role="dialog" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Landmark Editor</h3>
    </div>
    <div class="modal-body">
      <div id="landmark_dialog_body"></div>
      Name: <input id = "landmarkNameInput" type=text size="20"/><br>
      Local Coordinate: <input id = "landmarkCoordInput" type=text size="20"/>
    </div>
    <div class="modal-footer">
        <button id="addLandmark" data-dismiss="modal" class="dialogCloseButton">Add</button>
        <button id="delLandmark" data-dismiss="modal" class="dialogCloseButton">Delete</button>
        <button data-dismiss="modal" class="dialogCloseButton">Close</button>
    </div>
</div>

<div class="modal ui-widget-content" id="node_info_dialog" role="dialog" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="node_info_dialog_title"></h3>
    </div>
    <div class="modal-body">
      <div id="node_info_dialog_body"></div>
      </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="dialogCloseButton">Close</button>
    </div>
</div>

