<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/pure.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/static/js/wuide.js"></script>
<script type="text/javascript" src="/static/js/ace/ace.js"></script>
<title>WuIDE</title>
</head>
<body>

<div id=client>
		<div id=menu>
			<ul>
				<li><a href='#types'>Types</a></li>
				<li><a href='#classes'>Classes</a></li>
				<li><a href='#deploy'>Deploy</a></li>
				<li><button id=saveall style="position:relative; top:2px; height:30px">Save All</button></li>
			</ul>
			<div id=types>
				<div id=type_list>
						<button id=addtype>New Type</button>	
						<table>
							<tr class=_type>
								<td class=_name>Type 1</td>
								<td><button class=_edit id=type1_edit>Edit</button></td>
								<td><button class=_del id=type1_del>Delete</button></td>
							</tr>
						</table>
				</div>
				<div id=type_editor style='display:none'>
						<button id=typeeditdone>Done</button>
						<button id=typeeditcancel>Cancel</button>
						<button id=addenum>Add</button></br>
						Name:<input id=type_editor_name></input></br>
						<table id=enumlist>
							<tr class=_class id=enum1>
								<td class=_name></td>
								<td>
									<button class=_edit id=editenum1>Edit</button>
									<button class=_del id=delenum1>Delete</button>
								</td>
							</tr>
						</table>
				</div>
			</div>
			<div id=classes>
				<div id=class_list>
						<button id=addclass>New Class</button>	
						<table id=class_list>
							<tr class=_class><td><input class=_enable type=checkbox></td><td class=_name>Class 1</td><td><button class=_edit>Edit</button><button class=_del>Delete</button></td></tr>
						</table>
				</div>
				<div id=class_editor>
					<div>
						<button id=class_editor_done>Done</button>
						<button id=class_editor_cancel>Cancel</button>
						<select id=class_editor_lang>
							<option val='c'>C</option>
							<option val='j'>Java</option>
						</select>
						<button id=class_editor_edit>Edit</button>
					</div>
					<table>
						<tr>
							<td>Name</td>
							<td><input id=class_editor_name></input></td>
						</tr>
						<tr>
							<td>ID</td>
							<td><input id=class_editor_id></input></td>
						</tr>
						<tr>
							<td>Virtual</td>
							<td><select id=class_editor_virtual><option value='y'>Yes</option><option value='n'>No</option></select></td>
						</tr>
						<tr style="display:none">
							<td>Type</td>
							<td><select id=class_editor_type><option value='h'>Hard</option><option value='s'>Software</option></select></td>
						</tr>
						<tr>
							<td>Can create Instance</td>
							<td><select id=class_editor_create><option value='y'>Yes</option><option value='n'>No</option></select></td>
						</tr>
						<tr>
							<td>How many instances are created at start up</td>
							<td><input id=class_editor_instance></input></td>
						</tr>
						<tr>
							<td>Type of private data</td>
							<td><select id=class_editor_private><option value='n'>None</option><<option value='b'>Boolean</option><option value='s'>Short</option></select></td>
						</tr>
					</table>
					<button id=addprop>Add Property</button>
					<table>
						<tr class=_property>
							<td><input class=_name></input></td>
							<td>Data Type</td>
							<td><select class=_datatype><option val='b'>Boolean</option></select></td>
							<td>Access</td>
							<td><select class=_access><option val='r'>Read Only</option><option val='w'>Write Only</option><option val='rw'>Read/Write</option></select></td>
							<td>Default</td>
							<td><input class=_default></input></td>
							<td><button class=_del>Delete</button>
						</tr>
					</table>
					
				</div>
				<div id=texteditor style='display:none'>
					<button id=texteditor_done>Save</button>
					<button id=texteditor_cancel>Abandon</button><br>
					<div id='editor' style='width:800px;height:600px'></div>
				</div>
			</div>
			<div id=deploy>
				ISP Programmer <select id=isp><option val='a'>USBASP</option><option val='t'>USBTINY</option></select><br>
				Serial Port <select id=serialport></select><button id=serialport_sel>Scan</button><br>
				<button id=build>Build</button>
				<button id=upload>Upload</button><br><br>
				<textarea id=log style="width:800px; height:800px;background-color:#cccccc"></textarea>
			</div>

		</div>
</div>
</body>
</html>
