<!--<button id="refresh">Refresh</button>-->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Location</th>
            <th align="center">WuClass</th>
            <th align="center">WuObject</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for node_info in node_infos %}
        <tr class={{ 'success' if node_info.isResponding() else 'error' }}>
            <td id="nodeId">
                {{ node_info.id }}
            </td>
            <td style="width:550px">
                {% if set_location %}
                <div class="input-append">
                    <input id="set-location-input" class="span2" type="text" style="width:300px" value="{{ node_info.location }}"> 
                    <button type="button" class="btn chooseLocNodeFromAll" for="set-location-input">Find Location</button>
                    <button type="button" class="btn set-location">Set Location</button>
                </div>
                {% else %}
                {{ node_info.location }}
                {% end %}
            </td>
            <td style="width:100px" align="center">
                {{ len(node_info.wuclasses()) }}
            </td>
            <td style="width:100px" align="center">
                {{ len(node_info.wuobjects()) }} 
            </td>
            <td>
              <a role=button id=node{{ node_info.id }} data-toggle=modal href='#myModal' class='btn more'>Details</button>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>

    $(function() {
        $('#myModal').hide();

        /*
        $('#refresh').click(function() {
            console.log('refresh nodes');
            $('#nodes').block({
                message: '<h1>Processing</h1>',
                css: { border: '3px solid #a00' }
            });

            $.post('/nodes/refresh', {% if set_location %}{set_location: true},{% end %} function(data) {
                $('#nodes').html(data.nodes);
                $('#nodes').unblock();
            });
        });
        */

        $('.set-location').click(function() {
            var nodeId = $.trim($(this).closest('tr').find('#nodeId').text());
            console.log(nodeId);
            console.log($(this).prev().val());
            var tmp_loc = $(this).prev().val();
            
            if(tmp_loc==""){
              tmp_loc = '/'+'{{ default_location }}'+'#(0,0,0)'
              $(this).prev().val(tmp_loc);
              console.log(tmp_loc)
            }
                    
            $.ajax('/nodes/' + nodeId, {
                type: 'PUT',
                dataType: 'json',
                data: {location: tmp_loc},
                success: function(data) {
                    //data = JSON.parse(data);
                    if (data.status == 1) {
                        alert(data.mesg);
                    }
                }
            });
        });

        {% for node_info in node_infos %}

        $('#node{{ node_info.id }}').click(function(e) {
            e.preventDefault();
            $('#myModal .modal-header').html('<h1>Node Info</h1>');
            $('#myModal .modal-body').html("{% include 'node-more.html' %}");
        });

        {% end %}
    });
</script>

