package javax.wukong.virtualwuclasses;
import javax.wukong.wkpf.WKPF;
import javax.wukong.wkpf.VirtualWuObject;

public class Virtual{{class}}WuObject extends GENERATEDVirtualThresholdWuObject {
    public Virtual{{class}}WuObject() {
	    // Initialize the wuobject here
	}
	public void update() {
		// Check the update of the properties here
	}
}
